<div class="headerContainer" id="header">
    <div>
        <a class="headerContent" href="./index.html">
            <img class="logoBack" src="./icon/back.png">
            <img class="logo" id="zurück" src="img/logo.png">
            <p id="responseChanceHead">
                <p class="responseChanceHead hover">
                    <b>LieferDir.</b>de
                </p>
        </a>
    </div>
    <div class="karte" id="karte">
        <p><b>Speisekarte</b></p>
    </div>
    <div class="buttonCountainerHeader">
        <div>
            <div class="dropdown">
                <!--Hier dropdown-Button-fenster-->
                <button onclick="downMenuRe()" class="buttonHeader">
                    <img src="./img/menu.png" class="buttonHeaderImg">
                </button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="index.html">Home</a>
                    <a href="impressum.html">Impressum</a>
                    <a href="dsgvo.html">Datenschutz</a>
                </div>
            </div>
        </div>
        <div class="buttonHeaderPadd">
            <button class="buttonHeader">
                <img src="img/deutschland.png" class="buttonHeaderImg">
            </button>
        </div>
    </div>
</div>