<div id="infoBox" class="InfoClass d-none">
    <div class="InfoCountainer Info_1kB1uC slide-in-bottom">
        <div class="fixedInfo">
            <div>
                <div class="paddLeft12px">
                    <h2>Über das Restaurant</h2>
                </div>
                <button class="closeButton" onclick="removeInfo()"><img src="icon/close.png"
                        class="logoSeller1"></button>
            </div>
            <div class="scrollContentInfo ">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8846.046385614349!2d11.419014604485296!3d48.763840404278305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479efe5a4716f7bb%3A0xc2b3b04e34bc2e2e!2sKreuztor!5e0!3m2!1sde!2sde!4v1664444751794!5m2!1sde!2sde"
                    width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                <div class="paddLsRs18">
                    <div class="infoSection">
                        <div class="InfoLogoPosition"><img src="icon/clock.png" class="InfoLogoimg">
                            <h3>Lieferzeiten</h3>
                        </div>
                    </div>
                    <div class="rgbBackgroundInfo paddAll12 secColor">
                        <div class="openingsInfo">
                            <div>Montag</div>
                            <div>17:00-22:00</div>
                        </div>
                        <div class="openingsInfo">
                            <div>Dienstag</div>
                            <div>17:00-22:00</div>
                        </div>
                        <div class="openingsInfo">
                            <div>Mittwoch</div>
                            <div>17:00-22:00</div>
                        </div>
                        <div class="openingsInfo">
                            <div>Donnerstag</div>
                            <div>17:00-22:00</div>
                        </div>
                        <div class="openingsInfo">
                            <div>Freitag</div>
                            <div>17:00-22:00</div>
                        </div>
                        <div class="openingsInfo">
                            <div>Samstag</div>
                            <div>17:00-22:00</div>
                        </div>
                        <div class="openingsInfo">
                            <div>Sonntag</div>
                            <div>17:00-22:00</div>
                        </div>
                    </div>
                    <div class="infoSection">
                        <div class="InfoLogoPosition"> <img src="icon/bag.png" class="InfoLogoimg">
                            <h3>Lieferkosten</h3>
                        </div>
                    </div>
                    <div class="buyValueInfo rgbBackgroundInfo paddAll12 secColor">
                        <div>
                            <div>Lieferkosten</div>
                            <div>Mindestbestellwert </div>
                            <div>Kostenlose Lieferung Ab</div>
                        </div>
                        <div>
                            <div> 5,00 €</div>
                            <div> 20,00 € </div>
                            <div> 40,00 €</div>
                        </div>
                    </div>
                    <div class="infoSection">
                        <div class="InfoLogoPosition"> <img src="icon/heart.png" class="InfoLogoimg">
                            <h3>Webseite</h3>
                        </div>
                    </div>
                    <div class="websiteMyInfo rgbBackgroundInfo paddAll12 secColor">
                        <div>www.da.de</div>
                    </div>
                    <div class="infoSection">
                        <div class="InfoLogoPosition"> <img src="icon/info.png" class="InfoLogoimg">
                            <h3>Bezahlmethoden</h3>
                        </div>
                    </div>
                    <div class="payOptionsInfo rgbBackgroundInfo paddAll12 ">
                        <div>Option1</div>
                        <div>Option2</div>
                        <div>Option3</div>
                    </div>
                    <div class="infoSection">
                        <div class="InfoLogoPosition">
                            <img src="icon/ckeck.png" class="InfoLogoimg">
                            <h3>Impressum</h3>
                        </div>
                    </div>
                    <div class="infoInfo rgbBackgroundInfo paddAll12 secColor">
                        <div>Davide´s Grillhaus</div>
                        <div>HTML-JS-Übungszwecken</div>
                        <div>Warenkorb Funktion</div>
                        <div class="infoInfo2">
                            <span>Diese Webseite dient nur zur HTML-JS-Übungszwecken. Lorem ipsum dolor sit amet
                                consectetur adipisicing elit. Doloremque, maxime repellendus adipisci aperiam
                                quaerat blanditiis error illo alias nulla esse nam, soluta laborum eius quam
                                culpa
                                totam possimus aut sapiente!
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque ab veniam,
                                laudantium
                                facilis eaque iste sequi dicta nulla, necessitatibus quaerat dolorem modi quia
                                impedit voluptas nisi. Ad vel temporibus amet. Lorem ipsum, dolor sit amet
                                consectetur adipisicing elit. Doloremque, reiciendis explicabo pariatur porro
                                placeat nam unde accusamus cupiditate autem sit harum laudantium natus minima
                                culpa
                                ex facere recusandae? Quam, corrupti!
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>