<div class="presentation secColor">
    <p>Wir verwenden in unserem Restaurant stets hochwertiges Fleisch und nur die
        besten
        Zutaten.
        Überzeugen
        Sie sich selbst davon. Wir wünschen Ihnen einen guten Appetit!
        <span id="dots">.</span>
        <span id="more"> erisque
            enim ligula
            venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor
            vitae
            massa.
            Fusce
            luctus
            vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper
            ipsum
            dignissim
            ac.
            In
            at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae
            dui
            eget
            tellus
            gravida
            venenatis. Integer fringilla congue eros non fermentum. Sed dapibus
            pulvinar
            nibh
            tempor
            porta.
        </span>
        <a class="readMoreLink" onclick="readMore()" id="myBtn">Weiterlesen</a>
    </p>
</div>